{% if google_adwords.hasActiveConversion() %}
<!-- GOOGLE CODE FOR CONVERSION START -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = {{ google_adwords.activeConversion.getId() }};
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "{{ google_adwords.activeConversion.getLabel() }}";
var google_conversion_value = {{ google_adwords.activeConversion.getValue() }};
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" 
	src="https://www.googleadservices.com/pagead/conversion/{{ google_adwords.activeConversion.getId() }}/?label={{ google_adwords.activeConversion.getLabel() }}&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- GOOGLE CODE FOR CONVERSION END -->
{% endif %}
